$icon-right-margin: 10px;
$icon-width: calc((100vw - 7 * $icon-right-margin) / 6.6);
$left-margin: calc($icon-right-margin + 0.3 * $icon-width);
$slide-duration: 1000ms;

*, ::after, ::before, div {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #333;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
div, h1, h2 {
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 999;
    height: 68px;
    width: 100vw;
    background-color: rgba($color: #000, $alpha: 0.5);
    & .element {
        display: inline-block;
        position: relative;
        top: 50%;
        left: $left-margin;
        transform: translate(0, -50%);
        margin: 0 10px;
    }
    // & .logo {
    //     background-image: url("img/logo.png");
    //     background-size: contain;
    //     background-repeat: no-repeat;
    //     background-position: center;
    //     width: 70px;
    //     height: 70px;
    // }
    & .logo {
        filter: brightness(0) invert(1);
        float: left;
        height: 80%;
    }
    & .nav-list {
        display: flex;
        flex-direction: row;
        li {
            list-style-type: none;
            margin: 0 10px;
            padding: 0;
        }
        a {
            color: whitesmoke;
            text-decoration: none;
        }
    }
}

// TODO: changer la transparence du header en fonction du scroll
// https://pqina.nl/blog/applying-styles-based-on-the-user-scroll-position-with-smart-css/
// html:not([data-scroll='0']) {
//     .navbar{
//     background-color: #000;
//     }
// }

.best {
    position: relative;
    top: 0;
    height: 600px;
    width: 100vw;
    background-color: pink;
    & .presentation {
        height: 200px;
        width: 250px;
        position: inherit;
        top: 30%;
        left: $left-margin;
        & .description {
            font-size: 20px;
        }
    }
}

.category {
    margin: 20px 0;
    // background-color: beige;
    & h2{
        margin-left: $left-margin;
        color: whitesmoke;
    }
    & .movie-container {
        // margin-left: calc($left-margin - 6 * ($icon-width + $icon-right-margin));
        margin-left: $left-margin;
        display: flex;
        flex-wrap: nowrap;
        overflow:hidden;
        transition: margin $slide-duration ease-in-out;
        
        & .movie {
            min-width: $icon-width;
            max-width: $icon-width;
            height: calc($icon-width * 9 / 16);
            background-color: lightblue;
            margin: 10px $icon-right-margin 20px 0;
            cursor: pointer;
        }
    & .slide-icon {
        display: none;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        filter: brightness(0) invert(0.8);
        height: 30%;
        width: auto;
        transition: all .2s ease-in-out;
    }
        &:hover {
            .slide-icon {
                display: block;
            }
        }
        & .slide {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            width: calc(0.3 * $icon-width);
            height: calc($icon-width * 9 / 16);
            background-color: rgba($color: #000, $alpha: 0.5);
            margin: 10px 0 20px 0;
            cursor: pointer;
            &:hover {
                & .slide-icon {
                    transform: scale(1.2) translate(-40%, -40%);
                }
            }
            &.visible {
                visibility: visible !important;
                opacity: 1 !important;
                transition: opacity 1000ms linear, visibility ;
            }
        }
        & .next {
            right: 0;
        }
        & .before {
            left: 0;
        }
    }
}

.modal-container {
    z-index: 1000;
    position: fixed;
    top: 0;
    
    width: 100vw;
    height: 100vh;
    overflow: scroll;

    background-color: rgba($color: #000000, $alpha: 0.5);
    & .modal {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        
        width: 50vw;
        height: 2000px;
        
        border-radius: 8px;
        margin: 40px 0;
        background-color: whitesmoke;
        & .close-button {
            position: absolute;
            top: 10px;
            right: 10px;
            height: 10px;
            width: 10px;
            background-color: #000;
        }
    }
}
